############################
# OS / Editor
############################
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
*.code-workspace

############################
# Python
############################
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

############################
# ROS 2 / colcon
############################
**/build/
**/install/
**/log/

# ROS 2 data
*.bag
*.db3
*.sqlite3

############################
# C / C++
############################
cmake-build-*/
*.o
*.a
*.so
*.exe

############################
# Logs / Data
############################
*.log
data/
