############################
# OS / Editor
############################
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
*.code-workspace

############################
# Python
############################
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

############################
# ROS 2 / colcon
############################
**/build/
**/install/
**/log/

# ROS 2 data
*.bag
*.db3
*.sqlite3

############################
# C / C++
############################
cmake-build-*/
*.o
*.a
*.so
*.exe

############################
# Logs / Data
############################
*.log
data/

############################
# Deep Learning / YOLO
############################
# Ultralytics / YOLO training outputs
runs/
**/runs/
weights/
**/weights/

# model files
*.pt
*.onnx
*.engine
*.torchscript
*.tflite
*.mlpackage

# validation / inference outputs
yolo_verify_out/
pred_images/
*.mp4

# logs / caches
*.log
__pycache__/
*.pyc
.DS_Store