# Existing MQTT Broker
MQTT_HOST=example.com
MQTT_PORT=1883
MQTT_USERNAME=example_user
MQTT_PASSWORD= example_password
MQTT_KEEPALIVE=60
MQTT_TLS=false

# VDA 5050
VDA_INTERFACE_NAME=uagv
VDA_VERSION=2.1.0
VDA_MANUFACTURER=YOUR_MANUFACTURER
VDA_SERIAL_NUMBER=YOUR_SERIAL_NUMBER